//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&family=Rozha+One&display=swap');
$font: 'Nunito Sans', sans-serif;
$font_title: 'Rozha One', serif;

// colors
$primary: #141b24;
$accent: #fff;
$bg_2: #EEF2F6;

// transition
$transition: all 0.2s ease-in-out;

//sizes
$s1: 1rem;
$s2: 3rem;
$big: 3.5rem; 
$s3: 2rem;