.signup {
    &__steps {
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        background: url(https://snappr.imgix.net/media/bookingflow-bg.jpg?auto=format%2Ccompress&w=2800&s=4e5415a9847348bc40fafe96d1ab3282) center/cover no-repeat;
    }
    &__container {
        width: 95%;
        max-width: 700px;
        padding: 15px;
        margin: 150px 15px auto;
        display: flex;
        flex-direction: column;
        background: $accent;
        box-shadow: 0 3px 8px -2px rgba(20,27,36,0.6);
        @include screen(md) {
            padding: 25px;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 25px;
        }
    }
    &__back {
        button {
            font-size: 1.5rem;
            border: none;
            background: transparent;
            cursor: pointer;
            outline: transparent;
            &:hover {
                color: #de07ff;
            }
        }
    }
    &__button {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: inherit;
        text-align: left;
        margin-bottom: 15px;
        &:hover {
            background: $accent;
            color: $primary;
        }
        &.w-49 {
            @include screen(md) {
                max-width: 49%;
            }
        }
        &.checked {
            filter: invert(1);
        }
        img {
            width: 25px;
            height: 25px;
            display: block;
            margin-right: 5px;
        }
    }
    #steps {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input, textarea {
            width: calc(100% - 22px);
            padding: 10px;
            font-family: $font;
        }
        textarea {
            min-height: 250px;
        }
        label {
            display: block;
            margin-bottom: 15px;
            font-family: $font;
        }
    }
    &__error {
        padding: 5px;
        font-family: $font_title;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: inherit;
        animation: jump;
        animation-iteration-count: 3;
        animation-timing-function: ease-in-out;
        animation-duration: 0.7s;
    }
}
@keyframes jump {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: none;
    }
}